// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #19dda5;
$secondary: #119671;
$accent: #9e809a;

$dark: #1d2628;
$dark-page: #1d2628;

$positive: #225fba;
$negative: #ba4351;
$info: #07bce0;
$warning: #f2c037;

$h1: (
  size: 3rem,
  line-height: 4rem,
  letter-spacing: -0.01562em,
  weight: 400,
) !default;
$h2: (
  size: 2.75rem,
  line-height: 3.75rem,
  letter-spacing: -0.00833em,
  weight: 500,
) !default;
$h3: (
  size: 2.5rem,
  line-height: 3.5rem,
  letter-spacing: normal,
  weight: 500,
) !default;
$h4: (
  size: 2.125rem,
  line-height: 2.5rem,
  letter-spacing: 0.00735em,
  weight: 400,
) !default;
